* {
    margin: 0;
}

#sahe {
    width: 100%;
    height: 200px;
    position: relative;
}

#img {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}